.App{
    background-color: black;
    opacity: 0.75;
    width: 100%;
    height: 0.2;
}
#park {
    text-align: center;
    background-color:rgb(225, 230, 235);
}

nav{
    display: inline;
    background-color: black;
    opacity: 0.6;
}